@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #ffffff;
  --background-color-dark: rgb(17, 24, 39);
}

/* TODO: Fix section navigation hiding under navbar */
/* https://css-tricks.com/hash-tag-links-padding/ */
a[href^='#'] {
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
  }
}

.main-container {
  min-height: 50vh;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-leave-active {
  position: absolute;
}

.admin-form-entity-form {
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.form-items-container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
