@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-light: #FFFFFF;
  --background-color-dark: rgb(17, 24, 39);
}

/* TODO: Fix section navigation hiding under navbar */
/* https://css-tricks.com/hash-tag-links-padding/ */
a[href^="#"] {
  
}

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }